In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import accuracy_score,r2_score,classification_report
import pickle

In [2]:
df=pd.read_csv('Salary_Data2.csv')

In [3]:
df

    Years  Experience    Salary
0       0         1.1   39343.0
1       1         1.3   46205.0
2       2         1.5   37731.0
3       3         2.0   43525.0
4       4         2.2   39891.0
5       5         2.9   56642.0
6       6         3.0   60150.0
7       7         3.2   54445.0
8       8         3.2   64445.0
9       9         3.7   57189.0
10     10         3.9   63218.0
11     11         4.0   55794.0
12     12         4.0   56957.0
13     13         4.1   57081.0
14     14         4.5   61111.0
15     15         4.9   67938.0
16     16         5.1   66029.0
17     17         5.3   83088.0
18     18         5.9   81363.0
19     19         6.0   93940.0
20     20         6.8   91738.0
21     21         7.1   98273.0
22     22         7.9  101302.0
23     23         8.2  113812.0
24     24         8.7  109431.0
25     25         9.0  105582.0
26     26         9.5  116969.0
27     27         9.6  112635.0
28     28        10.3  122391.0
29     29        10.5  121872.0
30     30         NaN       NaN

In [4]:
#EDA

In [5]:
df.isnull().sum()

Years         0
Experience    1
Salary        1
dtype: int64

In [6]:
df.dtypes

Years           int64
Experience    float64
Salary        float64
dtype: object

In [7]:
df.dropna(inplace=True)

In [8]:
df

    Years  Experience    Salary
0       0         1.1   39343.0
1       1         1.3   46205.0
2       2         1.5   37731.0
3       3         2.0   43525.0
4       4         2.2   39891.0
5       5         2.9   56642.0
6       6         3.0   60150.0
7       7         3.2   54445.0
8       8         3.2   64445.0
9       9         3.7   57189.0
10     10         3.9   63218.0
11     11         4.0   55794.0
12     12         4.0   56957.0
13     13         4.1   57081.0
14     14         4.5   61111.0
15     15         4.9   67938.0
16     16         5.1   66029.0
17     17         5.3   83088.0
18     18         5.9   81363.0
19     19         6.0   93940.0
20     20         6.8   91738.0
21     21         7.1   98273.0
22     22         7.9  101302.0
23     23         8.2  113812.0
24     24         8.7  109431.0
25     25         9.0  105582.0
26     26         9.5  116969.0
27     27         9.6  112635.0
28     28        10.3  122391.0
29     29        10.5  121872.0

In [9]:
df['Years']=df['Years'].astype('float')

In [10]:
df

    Years  Experience    Salary
0     0.0         1.1   39343.0
1     1.0         1.3   46205.0
2     2.0         1.5   37731.0
3     3.0         2.0   43525.0
4     4.0         2.2   39891.0
5     5.0         2.9   56642.0
6     6.0         3.0   60150.0
7     7.0         3.2   54445.0
8     8.0         3.2   64445.0
9     9.0         3.7   57189.0
10   10.0         3.9   63218.0
11   11.0         4.0   55794.0
12   12.0         4.0   56957.0
13   13.0         4.1   57081.0
14   14.0         4.5   61111.0
15   15.0         4.9   67938.0
16   16.0         5.1   66029.0
17   17.0         5.3   83088.0
18   18.0         5.9   81363.0
19   19.0         6.0   93940.0
20   20.0         6.8   91738.0
21   21.0         7.1   98273.0
22   22.0         7.9  101302.0
23   23.0         8.2  113812.0
24   24.0         8.7  109431.0
25   25.0         9.0  105582.0
26   26.0         9.5  116969.0
27   27.0         9.6  112635.0
28   28.0        10.3  122391.0
29   29.0        10.5  121872.0

In [11]:
df.dtypes

Years         float64
Experience    float64
Salary        float64
dtype: object

In [12]:
X=df.iloc[:,:-1]

In [13]:
X

    Years  Experience
0     0.0         1.1
1     1.0         1.3
2     2.0         1.5
3     3.0         2.0
4     4.0         2.2
5     5.0         2.9
6     6.0         3.0
7     7.0         3.2
8     8.0         3.2
9     9.0         3.7
10   10.0         3.9
11   11.0         4.0
12   12.0         4.0
13   13.0         4.1
14   14.0         4.5
15   15.0         4.9
16   16.0         5.1
17   17.0         5.3
18   18.0         5.9
19   19.0         6.0
20   20.0         6.8
21   21.0         7.1
22   22.0         7.9
23   23.0         8.2
24   24.0         8.7
25   25.0         9.0
26   26.0         9.5
27   27.0         9.6
28   28.0        10.3
29   29.0        10.5

In [14]:
y=df.iloc[:,-1]

In [15]:
y

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=42)

In [17]:
X_train.shape

(20, 2)

In [18]:
X_test

    Years  Experience
27   27.0         9.6
15   15.0         4.9
23   23.0         8.2
17   17.0         5.3
8     8.0         3.2
9     9.0         3.7
28   28.0        10.3
24   24.0         8.7
12   12.0         4.0
0     0.0         1.1

In [19]:
y_train.shape

(20,)

In [20]:
regression=LinearRegression()
ridge=Ridge()
lasso=Lasso()

In [21]:
regression.fit(X_train,y_train)

LinearRegression()

In [22]:
y_pred=regression.predict(X_test)

In [23]:
y_pred

array([116409.1781502 ,  70396.92194323, 102970.56854528,  73698.37031037,
        55423.99622293,  60492.57684182, 123756.32972598, 108039.14916417,
        62026.8929572 ,  36521.77536217])

In [24]:
ridge.fit(X_train,y_train)

Ridge()

In [25]:
y_pred1=ridge.predict(X_test)

In [26]:
lasso.fit(X_train,y_train)

Lasso()

In [27]:
y_pred2=lasso.predict(X_test)

In [28]:
print(r2_score(y_test,y_pred))

0.9549606670205707

In [29]:
print(r2_score(y_test,y_pred1))

0.9549610962362659

In [30]:
print(r2_score(y_test,y_pred2))

0.9549652643040706

In [31]:
max(0.9549610962362659,0.9549610962362659,0.9549652643040706)

0.9549652643040706

In [32]:
pickle.dump(lasso,open('regression.pkl','wb'))

In [33]:
u=pickle.load(open('regression.pkl','rb'))

In [34]:
u.predict(X_test)

array([116406.57134856,  70400.6164452 , 102968.95752629,  73703.55529441,
        55424.46241106,  60491.79989759, 123751.15420971, 108036.29501282,
        62030.34010947,  36519.5935777 ])